
body {
    background: #f2f2f2;
}

.b-product__wrapper {
    grid-column: 1/3;
    margin-top: 20px;
    font-size: 0;
}

.b-product__wrapper .b-product__image,
.b-product__wrapper .b-product__info {
    display: inline-block;
    width: 50%;
}

.b-products__additional,
.b-product__info {
    font-size: 12px;
}

.b-product__flex_wrapper {
    grid-column: 1/3;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.b-product__image_flex{
    flex-basis: 50%;

}
.b-product__info_flex{
    flex-basis: 50%;
}

.b-product__grid_wrapper{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 12px;
    margin-top: 20px;
}
